 {% load static %}
<div class="support-company-area pt-30 pb-30 section-bg fix"
     style="background-image: url('{% static 'assets/img/gallery/section_bg02.jpg' %}'); background-size: contain; background-repeat: no-repeat; background-position: center;">

        <div class="container">
            {% if consultancy %}
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6">
                    <div class="support-location-img">
                        {% if consultancy.cover_image %}
                        <img src="{{ consultancy.cover_image.url }}" alt="About Image">
                        {% endif %}
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="right-caption">
                        <!-- Section Title -->
                        <div class="section-tittle section-tittle2 mb-50">
                            <h2>About US</h2>
                        </div>
                        <div class="support-caption">
                            <p class="pera-top">{{ consultancy.content|truncatewords:30 }}</p>
                            <a href="{% url "about_us" %}" class="btn post-btn">More About Us</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    
</div>
